
<div class="form">
  <fieldset>
      Title:
      <input type="text" [(ngModel)]="updateToDo.title" /><br />
      Description:
      <textarea [(ngModel)]="updateToDo.description"></textarea><br />
      DueDate:
      <input type="date" [(ngModel)]="updateToDo.dueDate.toISOString().split('T')[0]" /><br />
      Priority:
      <select [(ngModel)]="updateToDo.priority">
          <option [selected]="updateToDo.priority === 1" [value]="1">High</option>
          <option [selected]="updateToDo.priority === 2" [value]="2">Medium</option>
          <option [selected]="updateToDo.priority === 3" [value]="3">Low</option>
      </select><br />
      CreatedBy:
      <input type="text" [(ngModel)]="updateToDo.createdBy" /><br />
      <div>CreatedAt: {{ updateToDo.createdAt | date: 'MMM d y, H:mm:ss' }}</div>
      Status:
      <select [(ngModel)]="updateToDo.status">
          <option [selected]="updateToDo.status === 1" [value]="1">To Do</option>
          <option [selected]="updateToDo.status === 2" [value]="2">In Progress</option>
          <option [selected]="updateToDo.status === 3" [value]="3">Completed</option>
      </select><br />
      <button (click)="onSubmit()">Submit</button>
  </fieldset>
</div>
